# -*- coding:utf-8; mode: sh -*-
#
# configure file for syncsyncgitd
#

target_list_files=(
    "/etc/syncsyncgit/syncsyncgit.list"
    "/Users/*/.syncsyncgit.list"
)

interval=60 # [sec]

default_repository=origin
default_branch=master

# invoking one GC after 20 sync
gc_interval=20

pid_file=/var/run/syncsyncgit.pid
log_file=/var/log/syncsyncgit/log
